.pa-headbar{
    padding-bottom: 6px;
    border-bottom: 1px solid #cccccc;
    overflow:hidden;
}

.pa-headbar-left{
    float: left;
    vertical-align: middle;
}

.pa-headbar-right{
    float: right;
    vertical-align: middle;
}