.ss-icon-sm{
    height: 20px;
    width: 20px;
}

.ss-content-logo{
    margin-top: 15%;
    /*position: fixed;*/
}

.ss-content-logo-image{
    vertical-align: middle;
    text-align: right;
}

.ss-content-logo-text{
    vertical-align: middle;
    text-align: left;
    font-size: 45px;
    color: #B41116;
}

.ss-content-logo-text .right{
    vertical-align: middle;
    text-align: left;
    font-size: 45px;
    color: #B41116;
}

.ss-content-search{
    margin-top: 30px;
    /*position: fixed;*/
}

