@charset "UTF-8";
body {
    overflow: hidden;
}

#background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0px;
}

/* CSS Document */
.form-bg {
    background: #00b4ef;
}

.form-horizontal {
    /*top: 300px;*/
    top: 120px;
    background: #fff;
    padding-bottom: 1px;
    /*border-radius: 15px;*/
    /*text-align: center;*/
    /*behavior: url(css/PIE.htc);*/
    position: relative;
    z-index: 100;
}

.form-horizontal .heading {
    /*font-size: 35px;*/
    /*font-weight: 700;*/
    /*padding: 35px 0 35px 0;*/
    /*border-bottom: 1px solid #f0f0f0;*/
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 0 13px 20px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-width: 1px 1px 0;
    border-bottom: 0;
    color: #666;
}
.form-horizontal .heading i{
    font-size: 20px;
}

.form-horizontal .btn-close{
    float:right;
    padding-right:20px;
    cursor: pointer;
}

.form-horizontal .form-group {
    padding-left:10px;
    /*padding-right:20px;*/
    margin: 0 20px 25px 20px;
    position: relative;
}

.form-horizontal .form-input{
    border: 1px solid #ddd;
}

.form-horizontal .form-control {
    /*background: #f0f0f0;*/
    border: none;
    /*border-radius: 20px;*/
    box-shadow: none;
    height: 40px;
    transition: all 0.3s ease 0s;
    /*behavior: url(css/PIE.htc);*/
    position: relative;
    /*width: 205px;*/
    width: auto;
    float:left;
    padding: 10px 10px 10px 12px;
}

.form-horizontal .form-control:focus {
    /*background: #e0e0e0;*/
    box-shadow: none;
    outline: 0 none;
    /*behavior: url(css/PIE.htc);*/
    position: relative;
}

.form-horizontal .form-group i {
    font-size: 17px;
    color: #c8c8c8;
    transition: all 0.5s ease 0s;
    padding: 10px 0 0 0;
}

.form-horizontal .form-control:focus + i {
    color: #428bca;
}

.form-horizontal .fa-question-circle {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}

.form-horizontal .fa-question-circle:hover {
    color: #000;
}

.form-horizontal .main-checkbox {
    float: left;
    width: 20px;
    height: 20px;
    background: #428bca;
    /*border-radius: 50%;*/
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #428bca;
    /*behavior: url(css/PIE.htc);*/
}


.form-horizontal .text {
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}

.form-horizontal .btn {
    float: right;
    font-size: 14px;
    /*border-radius: 30px;*/
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    /*behavior: url(css/PIE.htc);*/
    position: relative;
}
