.ss-content-top{
    margin-top: 15px;
    /*position: fixed;*/
}

/*.ss-content-middle{*/
    /*margin-top: 50px;*/
/*}*/

.ss-icon-sm{
    height: 20px;
    width: 20px;
}

.ss-icon-md{
    width: 100%;
    height: auto;
}

.ss-record-file-metadata{
    margin-left: 100px;
}

.ss-record-manage{
    text-align: center;
}

.ss-record-manage > ul{
    min-width: 100%;
}

.ss-record-manage > ul > li{
    text-align: center;
    height: 100%;
}

a{
    cursor: pointer;
}

.ss-highlight {
     /*background-color: yellow;*/
     /*color: teal;*/
    color:#B41116
}

.ss-content-middle-right{
    margin-top: 55px;
    border-left: 1px solid #cccccc;
}

@media screen and (max-width: 991px) {

    .ss-content-middle-right{
        margin-top: 0px;
        border-left: 0px;
    }

}